{% extends "index/index.html" %}
{% block encabezado %}
{% include "index/encabezado.html" %}
{% endblock %}
{% block menu %}
{% include "Administrador/menu.html" %}
{% endblock %}
{% block contenido %}

<style>
    .input-group {
        display: flex;
        align-items: center;
    }

    #searchButton {
        flex: 1;
        max-height: 38px; /* Ajusta la altura según tus preferencias */
    }
</style>

<div class="container">
    <h3 class="card-title text-center titulos"><strong>COMPRAS REALIZADAS</strong></h3>
    <div class="input-group col-md-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar ventas...">
        <div class="input-group-append">
            <button id="searchButton" class="btnInicioS colorSecundario" type="button">Buscar</button>
        </div>
    </div>

    {% for compra in compras %}
    <div class="card mb-4 mt-3 custom-table">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Código Factura:</strong> {{ compra.comCodigo }}</p>
                    <p><strong>Proveedor:</strong> {{ compra.comProveedor.proNombre }}</p>
                    <p><strong>Recibido Por:</strong> {{ compra.comUsuarioRecibe.get_full_name }}</p>
                    <p><strong>Fecha Entrega:</strong> {{ compra.fechaHoraCreacion }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Observaciones: </strong> {{ compra.comObservaciones }}</p>
                    <h5 class="mt-5"><strong>Precio total: </strong> <span class="precio">{{compra.comPrecioTotal }}</span></h5>

                    {% comment %} <h5 class="mt-5 precio"><strong>Precio Total: </strong> ${{ compra.comPrecioTotal }}</h5> {% endcomment %}
                </div>
            </div>
        </div>

        <div class="card-body">
            <h4 class="card-title">Productos Comprados: </h4>
            <table class="table table-striped">
                <thead>
                    <tr class="colorPrimario text-white">
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Devueltos</th>
                        <th>Unidad Medida</th>
                        <th>Precio</th>
                        <th>Precio Acumulado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in compra.detallecompra_set.all %}
                    <tr>
                        <td>{{ detalle.detProducto.proCodigo }}</td>
                        <td>{{ detalle.detProducto.proNombre }}</td>
                        <td>{{ detalle.detCantidad }}</td>
                        <td>{{ detalle.detDevueltos }}</td>
                        <td>{{ detalle.detProducto.proUnidadMedida }}</td>
                        <td class="precio">${{ detalle.detPrecioUnitario }}</td>
                        <td class="precio">${{ detalle.detPrecioAcumulativo }}</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
            <div class="card-body">
                <a href="{% url 'generar_pdf_compra' compra.comCodigo %}" target="_blank" class="btn text-white" style="background-color: #012E4A;">Generar PDF</a>
                <a href="{% url 'DevolucionesPro' compra.comCodigo %}" class="btn colorSecundario titulos">Devolución Compra</a>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var precios = document.querySelectorAll('.precio');
    precios.forEach(function (precio) {
        var precio_sinFormato = precio.textContent.trim().replace('$', '');
        var precio_formateado = parseFloat(precio_sinFormato).toLocaleString('es-CO', {
            minimumFractionDigits: 0,
            maximumFractionDigits: 2
        });

        precio.textContent = '$ ' + precio_formateado;
    });
});
</script>
{% endblock %}