{% extends "index/index.html" %}

{% block encabezado %}
    {% include "index/encabezado.html" %}
{% endblock %}

{% block menu %}
    {% include "Administrador/menu.html" %}
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="mt-1">
        <div class="was-validated">
            <div class="row d-flex">
                <div class="p-1 text-center">
                  
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/vistaRegistrarUnidad/">
                        <button class="btn colorSecundario titulos">Registrar Medida</button>
                        </a>
                    </div>

                    <table id="tblProductos" class="table custom-table table-hover table-bordered" style="font-size: 14px;"><br><br>

                        <thead class="colorSecundario text-white">
                            <tr class="colorSecundario ">
                                <th colspan="2" class="text-white text-center">UNIDADES DE MEDIDA</th>
                            </tr>
                            <tr class="colorPrimario">
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for unidad in listaUnidad %}
                            <tr>
                                <td>{{ unidad.uniNombre }}</td>
                                <td class="text-center" style="font-size: 3vh;">
                                    <i class="fa fa-trash text-danger" onclick="modalEliminarUnidad('{{unidad.uniNombre}}')" type="button"></i>
                                </td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Llama a la función para cargar DataTable en la tabla 'tblProductos'
        cargarDataTable($("#tblProductos"), "Inventario de Productos", 2);
    });
</script>

{% endblock %}
{% block piePagina %}
{% include "index/piePagina.html" %}
{% endblock %}