<footer class="colorTerciario mt-5">
  <div class=" py-4 text-dark ">
      <div class="col-lg-12 text-center">
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook" style="color: #1A6696;"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter" style="color: #1A6696;"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram" style="color: #1A6696;"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin" style="color: #1A6696;"></i></a></li>
        </ul>
        <p class="mb-0 ">Calle 5 #4-08  |  Teléfono: 8720547 |  SOFTIC® </p>
      </div>
  </div>
  
</footer>  
